[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/sky"]
	path = lib/sky
	url = https://github.com/lib/sky
	branch = dev
[submodule "lib/usds"]
	path = lib/usds
	url = https://github.com/lib/usds
	branch = dev
