[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/ngt"]
	path = lib/ngt
	url = https://github.com/makerdao/ngt
	branch = deploy-scripts
[submodule "lib/nst"]
	path = lib/nst
	url = https://github.com/makerdao/nst
	branch = deploy-scripts
